# ==============================================
# Variables de Entorno - FinanceAI (Ejemplo)
# ==============================================

# Base de Datos MySQL
DB_HOST=db
DB_USER_M=dev_user
DB_PASSWORD=dev_password
MYSQL_ROOT_PASSWORD=root_password

# Seguridad y Token JWT (Mínimo 256 bits / 32 caracteres)
TOKEN_SECRETO=FinanceAI_Secret_Key_Super_Segura_2026_JWT_Token_HS256_Min$

# Modelos y Almacenamiento OCI
OCI_STORAGE_BUCKET=financeai-bucket
SHARED_MODELS_PATH=/app/models

# URL del Backend para Frontend
VITE_BACKEND_URL=http://backend:8080
